
/**
* BACKGROUND GRADIENT
**/
body
{
    background: linear-gradient(302deg, #9120ff, #3388ff, #ff338b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    -o-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

#titulo_principal
{
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botao-fixo 
{
    position: fixed;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    left: 20px; /* Ajuste a distância da esquerda conforme necessário */
    z-index: 999; /* Garante que o botão esteja acima de outros elementos */
    width: 42px; /* Define a largura do botão */
    height: 42px; /* Define a altura do botão */
    border-radius: 50%; /* Torna o botão redondo */
    background-color: rgb(85, 145, 236); /* Cor de fundo azul */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao focar */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    font-size: 20px; /* Define o tamanho da fonte */
}

.card
{
    height: 350px;
    border: none; /* Remove a borda */
    background-color: rgba(255, 255, 255, 0.5); /* Cor com transparência */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: white;
}

h4
{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/** Remover o sublinhado dos textos de link **/
a
{
    text-decoration: none;
}

.row
{
    margin-bottom: 100px;
}