
/**
* BACKGROUND GRADIENT
**/
body
{
    background: linear-gradient(302deg, #9120ff, #3388ff, #ff338b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    -o-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}


/** Página principal **/

#titulo_principal
{
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 80px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

h3
{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card
{
    height: 385px;
    border: none; /* Remove a borda */
    background-color: rgba(255, 255, 255, 0.5); /* Cor com transparência */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 100px;
}

/** Remover o sublinhado dos textos de link **/
a
{
    text-decoration: none;
}